<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Identity Card</title>
</head>

<body th:style="${keyFontColor != null} ? 'color: ' + ${keyFontColor} : ''">
<div th:style="${bgColor != null} ? 'background: ' + ${bgColor} + '; border: 2px black solid; border-radius: 15px; padding: 10px;' : 'border: 2px black solid; border-radius: 15px; padding: 10px;'">
    <div style="text-align: center; padding-top: 10px;font-weight:bold">
        <img style="width: 20px; margin-right: 10px; vertical-align: middle;" th:src="${titleLogo}" alt="Logo" />
        <span style="font-size: 16px; vertical-align: middle;" th:text="${titleName}"></span>
    </div>
<!--    <div style="padding-top:10px">-->
<!--        <div style="text-align: center; margin-bottom: 20px;font-size:16px" th:text="${titleName}"></div>-->
<!--    </div>-->
    <div style="margin:20px;">
        <img style="width: 100px; float: left; margin-right: 100px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRe3oPvKsA05otgZYGFZmxk5WHLYTFKWOFaNA" alt="Logo" />

        <!-- Upper properties on the right -->
        <div style="overflow: auto;">
            <div th:each="entry : ${headerProperties}" style="margin-bottom: 10px;">
                <div style="font-size: 16px; margin-bottom: 5px;" th:text="${entry.key}"></div>
                <div style="font-weight: bold; font-size: 16px; margin-left: 10px;" th:text="${entry.value}"></div>
            </div>
        </div>
    </div>
    <div style="margin-left:20px">
        <div th:each="entry : ${rowProperties}" style="margin-bottom: 10px;float:left;width:250px">
            <div style="font-size: 16px; margin-bottom: 5px;" th:text="${entry.key}"></div>
            <div style="font-weight: bold; font-size: 16px;" th:text="${entry.value}"></div>
        </div>
    </div>
<!--    <div style="text-align: right; margin-top:70px">-->
    <div th:style="'text-align: right; margin-top:' + ${rowPropertiesMargin} + 'px'">
        <img style="width: 100px;" th:src="${logoUrl}" alt="Logo" />
    </div>
</div>
</body>


</html>